/*
 * Main Layout
 */

#layout{
	padding: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 0;
	color: #000000;
	background: #FFFFFF;
}

#container{
	z-index: 400;
	height: 80%;
	padding: 0em .6em;
	text-transform: capitalize;
	position: relative;
	text-align: center;
	overflow: auto;
}


/*
 * Footer
 */

.footer{
	position: relative;
	bottom: 0em;
	width: 100%;
	height: 10%;
}



/*
 * Header
 */

.header{
	height: 10%;
	position: relative;
	text-align: center;
}
