/*
* Global resets
*/
html, body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

/*
* Main Layout
*/
#layout{
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#container{
    padding: 1em;
    text-align: center;
    background-color: #FFFFFF;
}

#containerWrapper{
    height: 80%;
    background-color: #DDDDDD;
    overflow: auto;
}


/*
* Header
*/
.header{
    background-color: #444444;
    color: #FFFFFF;
    height: 10%;
    position: relative;
}

.header-text{
    padding-top: .2em;
    text-align: center;
}

/*
* Footer
*/
.footer{
    background-color: #444444;
    color: #FFFFFF;
    height: 10%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text{
    padding-top: .2em;
    text-align: center;
}
